@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  /* background-color: #f2f2f2; */
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* general */
.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  box-shadow: none;
  border: none;
}

.button-tertiary {
  text-transform: none;
  background-color: transparent;
}

.button-link {
  color: #000000;
  text-decoration-line: none;
}

.button-secondary {
  color: #ffffff;
  background-color: #756257;
}

.button-secondary.navigation-user-item {
  padding-top: 13.8px;
  padding-bottom: 14.4px;
  width: 160px;
  height: 37px;
}

.button-accent {
  color: #ffffff;
  background-color: #7db54f;
}

/* ====== */

.main-inner {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: -10px;
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  flex-grow: 1;
  /* justify-content: space-between; */
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  margin: 0;
  max-width: 264px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.navigation-user-link {
  min-width: 42px;
  min-height: 66px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.page-logo-wrap {
  margin-right: 30px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.hero {
  padding-top: 51.5px;
  padding-bottom: 83px;
  text-align: center;
  background-image: url("../images/main/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-logo {
  width: 458px;
  margin: 0 auto;
}

.hero-logo img {
  display: block;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: auto;
}

.advantages-item-wide {
  width: 100%;
}

.advantages-row {
  display: flex;
  /* width: 100%; */
  margin-top: 80px;
}

.advantages-column {
  flex-shrink: 0;
  width: 400px;
  height: 384px;
}

.advantages-title {
  max-width: 720px;
  margin: 63px auto 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  /* color: #ffffff; */
}

.advantages-description-cause {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.advantages-number {
  margin: 30px 75px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-description {
  /* margin: 0; */
  margin: 30px 90px 87px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-name {
  margin: 23px 75px 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-description {
  max-width: 250px;
  margin: 20px 75px 79px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.appointment {
  text-align: center;
}

.appointment-title {
  /* margin: 0 auto; */
  display: flex;
  margin: 91px 240px 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.appointment-description {
  /* margin: 0 auto; */
  padding: 0;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter {
  display: block;
  color: #000000;
  background-color: #ffffff;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}

.newsletter-inverse {
  background-image: url("../images/footer/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
}

.page-footer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-footer-title-inverse {
  color: #ffffff;
}

.page-footer-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.page-footer-description-inverse {
  color: #ffffff;
}

.button.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  background-color: #83b3d3;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 33.33%;
  /* margin-right: 61px; */
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  height: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts {
  /* width: 720px; */
  width: 33.33%;
  text-align: center;
  /* margin: 0 auto; */
}

.about-text {
  width: 33.33%;
  margin: 0;
  text-align: right;
}

.htmlacademy-link {
  /* max-width: 115px; */
}

/* кнопки каталога */

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: none;
  color: #000000;
  font-style: normal;
}

/* страница каталога гостиниц */

.filter {
  background-image: url("../images/catalog/catalog-background-1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.filter-header-title {
  padding: 35px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 30px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: none;
  color: #ffffff;
  font-style: normal;
}

.catalog-filter {
  display: flex;
  width: 1200px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  font-style: bold;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-style: regular;
}

.catalog-button {
  max-width: 160px;
}

.hotel {
  margin-right: 192px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  font-style: bold;
  width: 338px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.hotel-card {
  width: 33.33%;
}

.hotel-number {
  margin-top: 30px;
  margin-left: 300px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  /* width: 386px; */
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.hotel-results {
  display: flex;
  width: 48px;
  height: 48px;
}

.results-header {
  display: flex;
}

/* кнопка загрузить еще */

.pagination-show-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 620px;
  margin: 0 auto;
}

/* пагинация */

/* .pagination-column-wrap {
  display: flex; */

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-wrap {
  display: flex;
}

.pagination-item {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}


.pagination-prev.pagination-disabled {
  color: #000000;
}

.pagination-link.pagination-current {
  color: #000000;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration-line: none;
}

/* футер */


